@{
    @model ConsultorioMedico.Models.PacientesViewModel
}
<h2 style="margin-bottom: 40px;">Listado de Pacientes</h2>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>DNI</th>
            <th>Fecha de Nacimiento</th>
            <th>Editar</th>
            <th>Borrar</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var paciente in Model.Pacientes)
        {
            <tr>
                <td>@paciente.Nombre</td>
                <td>@paciente.Apellido</td>
                <td>@paciente.DNI</td>
                <td>@paciente.FechaNacimiento</td>
                <td><a href="pacientes/editar/@paciente.Id">Editar</a></td>
                <td><a style="color:red;" href="pacientes/borrar/@paciente.Id">Borrar</a></td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-primary" role="button" href="pacientes/crear">Crear paciente</a>
